@{
    ViewData["Title"] = "Home Page";
}

<table cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td>
                <form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Post">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one or more files using this form:</p>
            <input type="file" class="form-control-file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" class="btn btn-primary" />
        </div>
    </div>
</form>
            </td>
            <td>
            <div class="text-center">
    <h1 class="display-4">ЗАГРУЗИТЕ  ФОТОГРАФИЮ ВАШЕГО ДРУГА</h1>
    <p>На этой страничке ты сможешь обгадить фотографию друга (ну или свою)</p>
</div>
            </td>
        </tr>
    </tbody>
</table>


<div>

    @*@foreach (var provider in Model.ExternalLogins)
    {
        <p>
            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>

        </p>
    }*@
</div>