@{
    ViewData["Title"] = "Отпакости меня полностью";
}

<table cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td style="background:center; background-image:url('/images/gray_bg.png');font-size:28px;"  >
                <form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Post">
    <div class="form-group">
        <div class="col-md-10">
            <p>Прикрепите фотографию вашей жертвы</p>

            <input style="width:400px;" type="file" class="form-control-file hidden" name="files" id="files" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Загрузить фотографию" class="btn btn-primary btn-lg" />
        </div>
    </div>
</form>
            </td>
            <td valign="top" align="left" style="padding-left:50px;">
                <div class="text-left">
                    <h1 class="display-4">ЗАГРУЗИТЕ  ФОТОГРАФИЮ ВАШЕГО ДРУГА</h1>
                    <p style="font-size:22px;">На этой страничке ты сможешь обгадить фотографию друга (ну или свою)</p>
                </div>
                <div class="text-left">
                    <img src="~/images/evil_child.jpg" />
                </div>
            </td>
            </td>
        </tr>
    </tbody>
</table>


<div>

    @*@foreach (var provider in Model.ExternalLogins)
    {
        <p>
            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>

        </p>
    }*@
</div>